@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

:root {
--very-dark-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);

--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(167, 40%, 24%);
--dark-blue:  hsl(198, 62%, 26%);
--dark-moderate-cyan: hsl(168, 34%, 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body,html {
    font-family: 'Fraunces',  sans-serif;
    font-family: 'Barlow', serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 480px;
    border: 1px solid var(--dark-grayish-blue);
}

header {
    position: relative; 
    object-fit: contain;
}

.hero-image {
    position: absolute;
    z-index: -1;
}

.hero-image img {
    width: 100%;
}

.header-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em 0em 3em;
    transform: scale(110%);
}

#header-text {
    margin-top: 7em;
    margin-bottom: 15em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header-title {
    font-family: 'Fraunces' sans-serif;
    text-transform: uppercase;
    color: var(--white);
    font-size: 3.5rem;
    margin-bottom: .5em;
    text-align: center;
}

.section-img {
    object-fit: contain;
}

.section-img img {
    width: 100%;
}

.section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-title {
    color: var(--very-dark-blue);
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
}

.section-text {
    font-size: 1.5rem;
    color: var(--very-dark-grayish-blue);
    text-align: justify;
    padding: 0em 2em 2em 2em;
}

.section-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--very-dark-blue);
    margin-bottom: 2em;
}

.graphic-section-img {
    position: relative;
}

.graphic-section-content {
    position: absolute;
    bottom: 0;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }